@(semanas: List[Semana])

<html lang="pt-BR">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>Minhas Metas</title>
		<!-- Bootstrap CSS -->
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body style="background:#2E2E2E">
		<div id="uberbar">
			<div class="jumbotron" style="background:#000000">
    			<img style="text-align: center" src="http://i.imgur.com/bA8aGzJ.jpg?1" class="img-polaroid" style="text-align: center">
    		</div>
			<div class="jumbotron" style="background:#000000">
    			<h2 style="color:#ABA6A6">NOT Procrastination, sistema que não deixa pra depois o que você pode organizar agora</h2>
    		</div>
    		<div class="col-md-3" style="left: 3%;">
    		<h2 style="color:#FFFFFF"><b>Adicionar Meta</b></h2>
			<form action="@routes.Application.addMeta()" method="post">
				<p for="nome" style="color:#FFFFFF"><b>Nome</b></p>
				<input id="nome" name="nome" type="text" placeholder="Nome" required>
				<p for="descricao" style="color:#FFFFFF"><b>Descrição</b></p>
				<input id="descricao" name="descricao" type="text" placeholder="Descrição da Meta">
				
				<p for="semana" style="color:#FFFFFF"><b>Semana</b></p>
				<select id="semana" name="semana">
					@for(semana <- semanas){
						<option value="@semana.getId()">@semana.intervalAsString()</option>
					}
				</select>
				
				<p for="prioridade" style="color:#FFFFFF"><b>Escolha uma prioridade</b></p>
				<select id="prioridade" name="prioridade">
					<option value="baixa">Baixa</option>
					<option value="normal">Normal</option>
					<option value="alta">Alta</option>
				</select>
				<button class="btn btn-primary">Adicionar</button>
				<br></br>
			</form>
			</div>
			<div class="col-md-3" style="left: 10%;" id="uberbar">
			<h2 style="color:#FFFFFF"><b>Metas Atuais</b></h2>
			@for(semana <- semanas){
				@if(!semana.isEmpty()){
				<h4 class="text-warning">Semana @semana.intervalAsString()</h4>
				<h4 class="text-warning">Total de Metas: @semana.totalMetas()</h4>
				<h4 class="text-warning">Alcançadas: @semana.totalMetasAlcancadas()</h4>
				<h4 class="text-warning">Não Alcançadas: @semana.totalMetasNaoAlcancadas()</h4>
				<div class="table-responsive" id="uberbar">
				<table class="table table-hover">
					<thead>
						<th style="color:#FFFFFF">Meta</th><th style="color:#FFFFFF">Descrição</th style="color:#FFFFFF"><th style="color:#FFFFFF">Prioridade</th><th></th><th></th>
					</thead>
					<tbody>
						@for(meta <- semana.getMetas()){
							
							@if(meta.getAlcancada() == true){
								<tr class="info">
							} else {
								<tr>
							}
							
								<td style="color:#0101DF">@meta.getNome()</td>
								<td style="color:#0101DF">@meta.getDescricao()</td>
								<td style="color:#0101DF">@meta.getPrioridade()</td>
								<td>
									<form action="@routes.Application.setAlcancada(meta.getId())" method="post">
										<button class="btn btn-success">Alcançada</button>
									</form>
								</td>
								<td>
									<form action="@routes.Application.deleteMeta(semana.getId(), meta.getId())" method="post">
										<button class="btn btn-danger">Remover</span></button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
				</div>
				</br>
				}
			}
		</div>
		</div>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	</body>
</html>


